{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindStylesheet": "src/styles/globals.css",
  "tailwindFunctions": ["clsx", "cva", "cn"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/(hooks|lib|routes|styles)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
